.header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disabled {
    display: none;
}


.contentHeader {
    min-height: 10vh;
    background-color: black;
    width: 100%;
    position: fixed;
}

.contentHeader ul {
    position: relative;
    left: 20%;
}