center {
    /* border: 1px solid black; */
    max-width: 700px !important;
    padding-bottom: 10px;
}

button {
    position: relative;
    bottom: 1px;
    min-width: 80px;
}

h1 {
    font-weight: 400;
    font-size: 40px;
}

input {
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 4px black inset;
    width: 100%;
    height: 40px;
}

.todo-item {
    text-align: left;
}